.ai-message img {
    display: block !important;
    max-width: none  !important;
    width: auto      !important;
    height: auto     !important;
    object-fit: contain !important;
    background: none    !important;
    filter: none        !important;
    min-height:50px;
  }