* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button:not(:disabled):hover {
  filter: brightness(1.1);
}

input:focus, textarea:focus {
  border-color: #33ff33 !important;
}
