################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.obj
/.bin
/utils/cat/bin
/utils/cat/obj
/utils/ls/.vs
/utils/grep/obj
/utils/grep/bin
/utils/ls/obj
obj
