################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
node_mdules
dist
csharp/.vs
/csharp/IFOllama/Conversations
/Angular/node_modules
/Angular/projects/ifshared-library/node_modules
/Angular/projects/deepseek-gui/node_modules
/.obj
/.bin
/utils/cat/bin
/utils/cat/obj
/utils/ls/.vs
/utils/grep/obj
/utils/grep/bin
/utils/ls/obj
obj
bin
.config

/Angular/.editorconfig
/Angular/package-lock.json
/Angular/projects/deepseek-gui/package-lock.json
/Angular/projects/ifauth-lib/package-lock.json
