/csharp/.vs
/csharp/BTTranslate/obj
/csharp/File-Manager/obj/Debug/net9.0/FileManager.GeneratedMSBuildEditorConfig.editorconfig
/csharp/ClipboardSyncService/bin
/csharp/ClipboardSyncService/obj
*.user
/csharp/OllamaMcpServer/.vs/OllamaMcpServer
/csharp/OllamaMcpServer/bin/Debug/net9.0
/csharp/OllamaMcpServer/obj
/csharp/OllamaMcpServer/.vs/ProjectEvaluation
