<!-- src/app/app.component.html -->
<div class="app-container">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>folder</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="spacer"></span>
    
    <!-- <ng-container *ngIf="isAuthenticated$ | async; else loginButton">
      <span class="username">{{ username$ | async }}</span>
      <button mat-button (click)="logout()">Logout</button>
    </ng-container> -->
    
    <ng-template #loginButton>
      <button mat-button (click)="login()">Login</button>
    </ng-template>
  </mat-toolbar>
 
  <app-file-tree></app-file-tree>
 
</div>