@import '../../../../styles.scss';

.response-card-header, .response-prompt-panel, .response-reasoning-panel {
  @include card-style;
  margin: 5px;
}

.mat-expansion-panel-header {
  @include expansion-panel-header-style;
} 

.save-icon, .delete-icon {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.code-block, .code-header {
  background-color: white;
}

.code-header {
  text-align: right;
  background-color: white;
  font-size: 12px;
  padding: 5px;
}

// .hljs {
//   background: white !important;
//   color: black !important;
// }

.copy-icon {
  cursor: pointer;
  font-size: 14px;
}

.text-block {
  font-family: Tahoma, sans-serif;
  white-space: pre-wrap;
}

.code-block {
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin: 10px 0;
  white-space: pre-wrap;
  line-height: 1.3;
}