<div class="code-gen-component">
  <mat-card class="request-card">
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #promptForm="ngForm">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{quoteOfTheDay}}</mat-label>
          <textarea
            class="input-area"
            matInput
            placeholder={{quoteOfTheDay}}
            [(ngModel)]="prompt"
            name="prompt"
            rows="2">
          </textarea>
        </mat-form-field> 
          <button
            mat-raised-button
            class="send-button"
            color="primary"
            type="submit"
            [disabled]="thinking$">
            {{ (thinking$ | async) ? 'Processing...' : 'Send' }}
          </button>
      </form>
      <div *ngIf="error" class="alert alert-danger mt-3">
        {{ error }}
      </div>
    </mat-card-content>
  </mat-card>

  <div class="responses-container">
    <div *ngFor="let responseObj of responses" class="mt-4">
      <app-code-gen-response></app-code-gen-response>
    </div>
  </div> 

</div>