@use '../../../styles.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.user-message, .ai-message, .prompt-input {
  min-width:60%;
  max-width: 90%;
  padding:5px;
  @include card-style;
}

.user-message, .ai-message {
  color: var(--if-paper-colour);
  margin: 3px;
  padding: 7px;
}

.user-message {
  background-color: var(--if-medium-colour);
  align-self: flex-end;
  text-align: right;
}  

.ai-message { 
  background-color: var(--if-light-colour);
  align-self: flex-start;
}

.think-icon{
  height:25px;
  width:25px;
}

.thinking-content{
  font-style: italic;
  padding: 20px; 
  transition: height 0.5s ease-in-out;
}

.show-think-button {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the text */
  margin: 5px;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: var(--if-dark-colour);
  color: var(--if-paper-colour);
  cursor: pointer;
}

.prompt-input {
  width: 100%;
  margin: 10px auto;
  min-height: 50px;
  max-height: 60vh;  
  padding: 7px;
  background-color: var(--if-paper-colour);
  color: var(--if-dark-colour);
  resize: vertical; 
  overflow: auto;
  box-sizing: border-box;
  cursor: text;
}