@use '../../../styles.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-component {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  overflow: auto;
}

.user-message, .ai-message, .prompt-input {
  min-width:60%;
  max-width: 90%;
  padding:5px;
  @include card-style;
}

.user-message {
  align-self: flex-end;
  background-color: var(--if-medium-colour);
  color: var(--if-paper-colour);
  margin: 3px;
  text-align: right;
}

.ai-message { 
  align-self: flex-start;
  background-color: var(--if-light-colour);
  color: var(--if-dark-colour);
  margin: 3px;
}

.message {
  padding: 7px;
}

.prompt-input {
  width: 100%;
  margin: 10px auto;
  min-height: 50px;
  max-height: 25vh;  
  padding: 7px;
  background-color: var(--if-paper-colour);
  color: var(--if-dark-colour);
  resize: vertical; 
  overflow: auto;
  box-sizing: border-box;
  @include bt-font;
}