@use '../../../styles.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-component {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}

.user-message, .ai-message, .prompt-input {
  min-width:60%;
  max-width: 90%;
  @include card-style;
}

.user-message {
  align-self: flex-end;
  background-color: var(--if-medium-colour);
  color: var(--if-paper-colour);
  margin-bottom: 7px;
}

.ai-message { 
  align-self: flex-start;
  background-color: var(--if-light-colour);
  color: var(--if-dark-colour);
  margin-bottom: 7px;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

.prompt-input { 
  min-width: 90%;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--if-paper-colour); 
}