<div class="chat-component">
  <app-loading-spinner [active]="(thinking$ | async) ?? false"></app-loading-spinner>
  <ng-container *ngFor="let message of messages">
    <ng-container *ngIf="message.isUser; else aiMessage">
      <div class="user-message">
        <div class="message">{{ message.text }}</div>
      </div>
    </ng-container>
    <ng-template #aiMessage>
      <div class="ai-message">
        <ng-container *ngIf="message.thinkContent">
          <button class="show-think-button" (click)="message.showThinking = !message.showThinking">
            <img src="assets/ai-thinking.png" alt="Think Icon" class="think-icon" />
            {{ message.showThinking ? 'Hide Thinking' : 'Show Thinking' }}
          </button>
          <div *ngIf="message.showThinking">
            <p class="thinking-content">{{ message.thinkContent }}</p>
          </div>
        </ng-container>
        <div class="message">{{ message.text }}</div>
      </div>
    </ng-template>
  </ng-container>

  <form (submit)="sendMessage($event, prompt)">
    <textarea
      class="prompt-input"
      name="prompt"
      [(ngModel)]="prompt"
      (keydown.enter)="sendMessage($event, prompt)"
      required
    ></textarea>
  </form>
</div>