@import '../../../styles.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.code-gen-component {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.request-card {
  flex: 0 0 auto;
  margin: 5px;
}

.responses-container {
  flex: 1 1 auto;
  width: 100%;
  overflow-y: auto;
  margin: 5px;
}

mat-form-field {
  mat-label {
    color: #000;
  }

  textarea {
    background: #fff;
    color: #000;
    ::placeholder {
      color: #000;
      opacity: 1;
    }
    ::content {
      color: #000;
    }
  }
}

.send-button {
  @include button-style;
}

.progress-spinner {
  margin-left: 25px;
}

.save-icon, .delete-icon {
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
}