@import '../../../styles.scss';

.request-card {
  @include card-style;
}

mat-form-field {
  mat-label {
    color: #000;
  }

  textarea {
    background: #fff;
    color: #000;
    ::placeholder {
      color: #000;
      opacity: 1;
    }
    ::content {
      color: #000;
    }
  }
}

.send-button {
  @include button-style;
}

.progress-spinner {
  margin-left: 25px;
}

.responses-container { 
  flex: 1 1 auto;  
  width: 100%;
  overflow-y: auto;
}

.save-icon, .delete-icon {
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
}

