/* filepath: d:\repos\Infoforum\Angular\projects\deepseek-gui\src\auth\auth-callback.component.scss */

.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  .msg {
    margin-bottom: 20px; /* Adjust as needed */
    font-size: 1.5em; /* Adjust as needed */
    text-align: center;
  }