<div class="code-gen-component">
  <app-thinking-progress [active]="(thinking$ | async) ?? false"></app-thinking-progress>
  <div class="split-container">
    <div class="left-pane">
      <mat-card class="request-card">
        <mat-card-content>
          <form (ngSubmit)="onSubmit()" #promptForm="ngForm">
            <mat-form-field appearance="fill" class="w-100 no-border">
              <mat-label>Ask away</mat-label>
              <textarea
                class="input-area"
                matInput
                [placeholder]="placeholderText"
                [(ngModel)]="prompt"
                name="prompt"
                rows="10"
                #inputArea
                (focus)="onFocus()"
                (blur)="onBlur()"
                (keydown)="onKeyDown($event)">
              </textarea>
              <p class="mt-3">{{quoteOfTheDay}}</p>
            </mat-form-field> 
            
            <div class="button-container">
              <button
                mat-raised-button
                class="send-button"
                color="primary"
                type="submit"
                [disabled]="thinking$"
                (click)="onSubmit()">
                {{ (thinking$ | async) ? 'Processing...' : 'Send' }}
              </button>
            </div>
          </form>
          <div *ngIf="error" class="alert alert-danger mt-3">
            {{ error }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="splitter" (mousedown)="onMouseDown($event)"></div>
    <div class="right-pane">
       <div class="responses-container">
        <div *ngFor="let responseObj of responses" class="mt-4">
          <app-code-gen-response></app-code-gen-response>
        </div>
      </div>
    </div>
  </div>
</div>