/* filepath: /d:/repos/Infoforum/Angular/projects/deepseek-gui/src/app/components/code-gen/code-gen.component.scss */

@use '../../../styles.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.code-gen-component {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden;
  padding: 5px;
}

.split-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.left-pane {
  flex: 0 0 33%;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.splitter {
  width: 5px;
  background-color: #ccc;
  cursor: col-resize;
}

.right-pane {
  flex: 1;
  padding-left:10px;
  padding-right:30px;
  overflow-y: auto;
}

.responses-container {
  height: 100%;
  overflow-y: auto;
}

.request-card {
  @include card-style;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.input-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-style:solid;
  border-color: var(--if-medium-colour);
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;


  .mat-mdc-form-field-subscript-wrapper, mat-mdc-form-field-subscript-wrapper, mat-mdc-form-field-bottom-align{
    height:10px; 
    background-color: red;
    color: red;
  }

  mat-label {
    color: #000;
  }

  .input-area {
    flex: 1;
    background: var(--if-paper-colour);
    color: #000;
    min-height: 200px;
    resize: vertical;
    white-space: normal; 
    border-style: none;
    border-radius: 3px;
    ::placeholder {
      color: #000;
      opacity: 1;
    }
    ::content {
      color: #000;
    }
  }
}

.quote-label {
  width: 100%;
  color: #000;
  padding: 3px;
  display: flex;
  align-items: center; /* Vertically center the text */
  line-height: 1.2; /* Adjust line height to reduce height */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.send-button {
  @include button-style;
}

.input-area {
  height:100%;
  width: 100%;
}

.send-button {
  margin-top: 10px;
}

.alert {
  margin-top: 10px;
}