/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --mdc-outlined-text-field-input-text-color: #000; /* Override text color to black */
}

@mixin button-style {
    min-width: 120px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    background-color: #8decf3;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    margin: 10px;
  }
