/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --if-light-colour: #1d97a6;
    --if-medium-colour: #214c8c;
    --if-dark-colour: #0b2144;

    --if-hl-light-colour: #faa236;
    --if-hl-medium-colour: #fa7733;
    --if-hl-dark-colour: #db592e;

    --mdc-outlined-text-field-input-text-color:black;
    --mat-expansion-container-background-color: whitesmoke;
    --mat-expansion-container-text-color: black;
    --mat-expansion-container-shape: 6px;
    --mat-expansion-header-indicator-color: var(--if-dark-colour);
    --mdc-elevated-card-container-color: white;
    --mat-expansion-header-collapsed-state-height: 25px;

    --bs-danger-bg-subtle: var(--if-hl-light-colour);
    --bs-alert-border-color: var(--if-hl-dark-colour);
}

@mixin button-style {
    min-width: 120px;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.25px;
    border-color: var(--if-dark-colour);
    background-color: var(--if-light-colour);
    color: white;
    box-shadow: 2px 4px 6px #0b2144;
    margin: 10px;
    cursor: pointer
}

@mixin card-style {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background: #f0f0f0;
    box-shadow: 0 4px 6px #0b2144;
    padding: 2px;
    border-radius: 6px;
    border-style: solid; 
    border-color: var(--if-medium-colour);
    border-width: 0.5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 3px;
    margin: 3px;
}

@mixin expansion-panel-style {
    background-color: white;
    color: #000;
    font-size: 10px;
    font-weight: 400;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--if-medium-colour);
    border-width: 0.5px;
    padding: 5px;
    margin: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;  
}

@mixin expansion-panel-header-style {
    @include expansion-panel-style;
    min-height: 40px;
}

@mixin expansion-panel-body-style {
    @include expansion-panel-style; 
    background-color:whitesmoke;
    font-weight: 600;
}

.panel-icon {
    color: var(--if-dark-colour);
}


