/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --mdc-outlined-text-field-input-text-color:black;
    --mat-expansion-container-background-color: whitesmoke;
    --mat-expansion-container-text-color: black;
    --mat-expansion-container-shape: 6px;
    --mat-expansion-header-indicator-color: black;
    --mdc-elevated-card-container-color: lightlightgray;
    --mat-expansion-header-collapsed-state-height: 25px;
}

@mixin button-style {
    min-width: 120px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    background-color: #a9f0f5;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    margin: 10px;
}

@mixin card-style {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background: #f0f0f0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    padding: 2px;
    border-radius: 6px;
    border-style: solid; 
    border-color: lightgray;
    border-width: 0.5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 3px;
    margin: 3px;
}

@mixin expansion-panel-style {
    background-color: white;
    color: #000;
    font-size: 10px;
    font-weight: 400;
    border-radius: 6px;
    border-style: solid;
    border-width: 0.1px;
    border-color: lightslategray; 
    padding: 5px;
    margin: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;  
}

@mixin expansion-panel-header-style {
    @include expansion-panel-style;
    font-size: 12px;
    border-style: solid;
    border-color: red;
    font-weight: 600;
    min-height: 40px;
}

@mixin expansion-panel-body-style {
    @include expansion-panel-style; 
    background-color:whitesmoke;
    font-weight: 600;
}


.panel-icon {
    color: darkslategrey;
}


