@use '../../../styles' as *;

.spinner-overlay {
  position: fixed; /* Use fixed positioning to overlay the entire window */
  top: 0;
  left: 0;
  right: 0; /* Extend to the right */
  bottom: 0; /* Extend to the bottom */
  background:  rgba(var(--if-dark-colour), 0.8); /* Background color with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  
.progress-spinner {
  z-index: 1001;
}