<div class="intelligence-component">
  <div class="intelligence-header">
    <div style="display: flex; align-items: center;">
      <img src="IF-Logo.png" alt="IF Logo" class="if-logo" />
      <span style="margin-left: 10px;">The Information Forum Ltd. Intelligence AI</span>
    </div>
    <button class="logout-button" (click)="logout()">
      Logout
    </button>
  </div>
 
    <mat-tab-group class="tab-control">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="panel-icon">code</mat-icon>
          <span>Code</span>
        </ng-template>
        <div class="code-tab-page">
          <app-code-gen></app-code-gen>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="panel-icon">image</mat-icon>
          <span>Images</span>
        </ng-template>
        <div class="images-tab-page">
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="panel-icon">chat</mat-icon>
          <span>Chat</span>
        </ng-template>
        <div class="chat-tab-page">
          <app-chat></app-chat>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <footer class="intelligence-footer">
    <p>&copy; 2025 The Information Forum Ltd. All rights reserved.</p>
  </footer> 